<aside>
    <div class="income-source-container">
        <form
            [formGroup]="incomeSourceForm"
            (ngSubmit)="onIncomeSourceSubmit()"
            class="wallet-form"
        >
            <mat-form-field class="income-source-input">
                <mat-label>Income source</mat-label>
                <input
                    matInput
                    placeholder="Enter your income source"
                    formControlName="incomeSource"
                />
            </mat-form-field>
            <mat-form-field class="income-amount-input">
                <mat-label>Income amount</mat-label>
                <input
                    matInput
                    placeholder="Enter amount"
                    formControlName="incomeAmount"
                />
                <span matTextSuffix>{{ currency }}</span>
            </mat-form-field>

            <button
                mat-raised-button
                color="success"
                type="submit"
                class="add-btn"
            >
                Add
            </button>
        </form>
        <div class="income-source" cdkDropList cdkDropListConnectedTo="table">
            <ng-container *ngFor="let source of incomeSource">
                <div
                    class="income-source-item"
                    cdkDrag
                    [id]="source.id"
                    [style.background-color]="
                        source.amount === 0 ? '#F7A1C4' : '#eef7ff'
                    "
                    [style.border-color]="
                        source.amount === 0 ? '#f15b98' : 'cornflowerblue'
                    "
                >
                    <div class="income-source-item_name">
                        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                        <span> {{ source.name }} </span>
                    </div>
                    <div
                        class="income-source-placeholder"
                        *cdkDragPlaceholder
                    ></div>
                    <div class="income-source-item_name">
                        {{ source.amount.toFixed(2) }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</aside>

<main>
    <form
        [formGroup]="expenseCategoryForm"
        (ngSubmit)="onExpenseCategorySubmit()"
        class="wallet-form"
    >
        <mat-form-field class="expense-category-input">
            <mat-label>Expense category</mat-label>
            <input
                matInput
                placeholder="Enter your expense category"
                formControlName="expenseCategory"
                value="accent"
            />
        </mat-form-field>
        <button mat-raised-button color="success" type="submit" class="add-btn">
            Add
        </button>
    </form>
    <div class="current-month">
        {{ getDate() }}
    </div>
    <div cdkDropList (cdkDropListDropped)="onDropEvent($event)" id="table">
        <div class="expense-category-row header-row">
            <div class="expense-category-col">N</div>
            <div class="expense-category-col">Expense</div>
            <div class="expense-category-col">Spent</div>
            <div class="expense-category-col">
                <mat-icon style="visibility: hidden">delete_outline</mat-icon>
            </div>
        </div>
        <ng-container *ngFor="let category of expenseCategories; let i = index">
            <div
                [id]="category.id"
                [attr.data-category]="category.name"
                class="expense-category-row"
            >
                <div class="expense-category-col">{{ i + 1 }}</div>
                <div class="expense-category-col">
                    {{ category.name }}
                </div>
                <div class="expense-category-col">
                    {{ category.amount.toFixed(2) }}
                </div>
                <div
                    class="expense-category-col"
                    (click)="deleteItem(category.id)"
                >
                    <mat-icon>delete_outline</mat-icon>
                </div>
            </div>
        </ng-container>
    </div>
</main>
