<form [formGroup]="form" (ngSubmit)="onSubmit()" class="wallet-form">
    <mat-form-field class="income-source">
        <mat-label>Income source</mat-label>
        <input
            matInput
            placeholder="Enter your income source"
            formControlName="incomeSource"
        />
    </mat-form-field>

    <mat-form-field class="expense-category">
        <mat-label>Expense category</mat-label>
        <input
            matInput
            placeholder="Enter your expense category"
            formControlName="expenseCategory"
        />
    </mat-form-field>
    <br />
    <button mat-raised-button color="success" type="submit" class="save-btn">
        SAVE
    </button>
</form>
<table mat-table [dataSource]="expenseCategories">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="expenses">
        <th mat-header-cell *matHeaderCellDef>Expenses</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
            <span (click)="deleteItem(element.id)">
                <mat-icon>delete_outline</mat-icon>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
