<div *ngIf="currentUser$ | async as currentUser" class="navigation">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
            *ngFor="let link of links"
            mat-tab-link
            [routerLink]="link.key"
            [active]="link.key === activeLink.key"
            (click)="setActiveLink(link)"
        >
            {{ link.title }}
        </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    <span class="user-img">
        <span>Welcome, {{ currentUser.name || currentUser.email }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <img src="../assets/user-icon-finapp.png" />
        </button>
    </span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showSettingsDialog()">
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
        </button>
    </mat-menu>
</div>
