<div class="input-dialog-container">
    <div class="input-dialog-header">
        <span>Spent on {{ data.category }}</span>
        <button (click)="closeDialog($event)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form
        class="input-dialog-form"
        [formGroup]="dialogForm"
        (ngSubmit)="onDialogFormSubmit()"
    >
        <mat-form-field class="income-amount-input">
            <mat-label>Amount spent</mat-label>
            <input
                matInput
                placeholder="Amount spent"
                formControlName="amountSpent"
            />
            <span matTextSuffix>{{ data.currency }}</span>
        </mat-form-field>
        <div class="warn-message" *ngIf="shouldShowValidationMessage">
            <mat-icon>error_outline</mat-icon>
            <span>
                Not enough funds. <br />
                You've used all money from
                {{ data.incomeSource.name }}
            </span>
        </div>
        <br />
        <button mat-raised-button color="success" type="submit" class="add-btn">
            Save
        </button>
    </form>
</div>
